.hearder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    padding: 18px;
    padding-left: 60px;
    padding-right: 60px;
    margin: 0 auto;
    background-color: #cdd796;
    box-shadow: 1px 1px 20px hsl(0, 0%, 36%);
}
.div{
    display: flex;
    gap: 6px;
}
.h1{
    font-weight: bolder;
    font-size: 20px;
}
.table{
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-collapse: separate;
    border-spacing: 4px;
    width: 98%;
    margin: 0 auto;
    box-shadow: 1px 1px 19px #9a9a9a;
}
.th{
    background-color: #cdd796;
    padding: 25px;
}
.td{
    padding: 25px;
    margin: 20px;
}
.tr{
    background-color: #d7d7d7;
}
.tr:hover{
    transition: 0.2s;
    background-color: #4f4f4f;
    color: #ffffff;
}

.tableContainer{
    margin-left: 5px;
    margin-right: 5px;
    overflow-x: auto;
}