
.conatiner{
    width: 30%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 10px #000000;
}
.chartContainer{
    display: flex;
    justify-content: center;
    overflow: auto;
}

@media only screen and (max-width: 1000px) {
    .conatiner{
        width: 80%;
    }
}